<!DOCTYPE html>
<html lang="en">
   <head>
      <title><></title>
   </head>
   <body>
   <form method="post" action="logout"> 
      <p>
         Welcome <strong></strong>
          <li><button class="btn btn-lg btn-success btn-block" type="submit" >Logout
                           </button></li>
      </p>
      </form>
   </body>
</html>