<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container1">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="123">
  
        


            <p>users page</p>
<ul>
    <% persontag.forEach(function(person) { %>
        <li><%= person.name %> - <%= person.id %>-<%= person.phone %></li>
    <% }); %>
</ul>
       
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>